<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PDF Combiner</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
<body>
    <div id="download-container">
        <h1>PDF Combiner</h1>
        <h2>File Download</h2>
        <p>Your file is ready for download:</p>
        <a href="{{.DownloadLink}}" download id="download-link">Download combined PDF</a>
        <a href="{{.UploadPath}}" id="back-button">Back to upload</a>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>