<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PDF Combiner</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<h1>PDF Combiner</h1>
    <h2>File Upload</h2>
    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <div id="drop-zone">
          Drop files here or click below to select files
        </div>
        <label id="upload-input-label">Hold `Ctrl` (or `Command` for mac) to select multiple files.</label>
        <input type="file" name="files" id="file-input" multiple>
        <input type="submit" value="UPLOAD" id="upload-button">
      </form>
    <script src="/static/js/script.js"></script>
</body>
</html>
